.title {
  display: flex;
  align-items: center;
  font-weight: 500;

  hr {
    margin-left: 10px;
    flex-grow: 1;
    border: 0;
    border-top: 1px solid #e9ecef;
  }
}
.row > div {
  margin: 10px 0;
}
