<mat-toolbar class="mat-elevation-z2" color="primary">
  <mat-toolbar-row color="white">
    <span>SEBRAELAB</span>
    <span class="spacer"></span>
    <button mat-button>Entrar</button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
  a<br>
  a<br>
  a<br>
  a<br>
  a<br>
  a<br>
  a<br>
  a<br>
  a<br>
  a<br>
  a<br>
  a<br>
  a<br>
  a<br>
  a<br>
  a<br>
  a<br>
  a<br>
  a<br>
  a<br>
  a<br>
  a<br>
  a<br>
  a<br>
  a<br>
  a<br>
  a<br>
  a<br>
  a<br>
  a<br>
  a<br>
  a<br>
  a<br>
  a<br>
  a<br>
  a<br>
  a<br>
  a<br>
  a<br>
  a<br>
  a<br>
  a<br>
</div>
