@import '~bootstrap/scss/bootstrap-grid.scss';
@import '~@angular/material/theming';

@include mat-core();

@import 'theme.scss';

@include angular-material-theme($sebraelab-desafio-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  color: #444;
}

.spacer {
  flex-grow: 1;
}
